@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px !important;
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b4b1b1;
  border-radius: 30px; 
  margin-right: 20px !important;
}
